
$color-primary: rgba(95, 183, 207);
$color-primary-a: rgba(95, 183, 207, 0.8);
$color-primary-b: rgba(95, 183, 207, 0.6);
$color-secondary-a: rgba(90, 121, 200, 0.8);
$color-secondary-b: rgba(90, 121, 200, 0.6);
$color-secondary: rgba(90, 121, 200);
$color-grey-dark: #777;
$color-white: whitesmoke;
$color-light-gray-1: #f7f7f7;
$color-black-a: rgba(0, 0, 0, 0.2);
$color-black: rgb(0, 0, 0);